<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="自动启动" value="0"/>
    <add key="语音提醒" value="0"/>
    <add key="语音文件" value=""/>
    <add key="自动弹窗" value="0"/>
    <add key="弹窗时间" value="10"/>
    <add key="财经日历时间" value="5"/>

    <add key="个人汇评采集" value="1"/>
    <add key="个人汇评时间" value="15"/>
    <add key="机构汇评采集" value="1"/>
    <add key="机构汇评时间" value="15"/>
    <add key="行业汇评采集" value="1"/>
    <add key="行业汇评时间" value="15"/>
    <add key="银行汇评采集" value="1"/>
    <add key="银行汇评时间" value="15"/>
    <add key="其他汇评采集" value="0"/>
    <add key="其他汇评时间" value="15"/>
    <add key="KITCO采集" value="1"/>
    <add key="KITCO时间" value="15"/>
    <add key="天交所采集" value="1"/>
    <add key="天交所时间" value="15"/>
    <add key="中外银行采集" value="0"/>
    <add key="中外银行时间" value="15"/>
    <add key="投资机构采集" value="0"/>
    <add key="投资机构时间" value="15"/>
    <add key="上海黄金交易所采集" value="0"/>
    <add key="上海黄金交易所时间" value="15"/>
    <add key="原油评论采集" value="0"/>
    <add key="原油评论时间" value="15"/>

    <add key="dailyfx采集" value="1"/>
    <add key="dailyfx时间" value="15"/>
    <add key="FX678采集" value="1"/>
    <add key="FX678时间" value="15"/>
    <add key="FX168采集" value="1"/>
    <add key="FX168时间" value="15"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
