<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="自动启动" value="0"/>
    <add key="语音提醒" value="0"/>
    <add key="语音文件" value=""/>
    <add key="自动弹窗" value="0"/>
    <add key="弹窗时间" value="10"/>

    <add key="头条采集" value="1"/>
    <add key="头条时间" value="15"/>
    <add key="指标采集" value="1"/>
    <add key="指标时间" value="15"/>
    <add key="讲话采集" value="1"/>
    <add key="讲话时间" value="15"/>
    <add key="播报采集" value="1"/>
    <add key="播报时间" value="15"/>
    <add key="国际争端采集" value="0"/>
    <add key="国际争端时间" value="15"/>
    <add key="国家政治采集" value="0"/>
    <add key="国家政治时间" value="15"/>
    <add key="经济争端采集" value="0"/>
    <add key="经济争端时间" value="15"/>
    <add key="世界灾难采集" value="0"/>
    <add key="世界灾难时间" value="15"/>
    <add key="黄金采集" value="1"/>
    <add key="黄金时间" value="15"/>
    <add key="原油采集" value="0"/>
    <add key="原油时间" value="15"/>
    <add key="-DAILYFX-采集" value="0"/>
    <add key="-DAILYFX-时间" value="15"/>
    <add key="-fxstreet-采集" value="0"/>
    <add key="-fxstreet-时间" value="15"/>
    <add key="-reuters-采集" value="0"/>
    <add key="-reuters-时间" value="15"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
