<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="自动启动" value="0"/>
    <add key="语音提醒" value="0"/>
    <add key="语音文件" value=""/>
    <add key="自动弹窗" value="0"/>
    <add key="弹窗时间" value="10"/>
    <add key="财经日历时间" value="5"/>

    <add key="头条采集" value="1"/>
    <add key="头条时间" value="15"/>
    <add key="指标采集" value="1"/>
    <add key="指标时间" value="15"/>
    <add key="讲话采集" value="1"/>
    <add key="讲话时间" value="15"/>
    <add key="播报采集" value="1"/>
    <add key="播报时间" value="15"/>
    <add key="国际争端采集" value="0"/>
    <add key="国际争端时间" value="15"/>
    <add key="国家政治采集" value="0"/>
    <add key="国家政治时间" value="15"/>
    <add key="经济争端采集" value="0"/>
    <add key="经济争端时间" value="15"/>
    <add key="世界灾难采集" value="0"/>
    <add key="世界灾难时间" value="15"/>
    <add key="黄金采集" value="1"/>
    <add key="黄金时间" value="15"/>
    <add key="原油采集" value="0"/>
    <add key="原油时间" value="15"/>
    <add key="-fxstreet-采集" value="0"/>
    <add key="-fxstreet-时间" value="15"/>
    <add key="-reuters-采集" value="0"/>
    <add key="-reuters-时间" value="15"/>

    <add key="个人评论采集" value="1"/>
    <add key="个人评论时间" value="15"/>
    <add key="机构评论采集" value="1"/>
    <add key="机构评论时间" value="15"/>
    <add key="行业评论采集" value="1"/>
    <add key="行业评论时间" value="15"/>
    <add key="银行评论采集" value="1"/>
    <add key="银行评论时间" value="15"/>
    <add key="其他评论采集" value="0"/>
    <add key="其他评论时间" value="15"/>
    <add key="KITCO采集" value="1"/>
    <add key="KITCO时间" value="15"/>
    <add key="天交所采集" value="1"/>
    <add key="天交所时间" value="15"/>
    <add key="中外银行采集" value="0"/>
    <add key="中外银行时间" value="15"/>
    <add key="投资机构采集" value="0"/>
    <add key="投资机构时间" value="15"/>
    <add key="上海黄金交易所采集" value="0"/>
    <add key="上海黄金交易所时间" value="15"/>
    <add key="原油评论采集" value="0"/>
    <add key="原油评论时间" value="15"/>

    <add key="dailyfx采集" value="1"/>
    <add key="dailyfx时间" value="15"/>
    <add key="FX678采集" value="1"/>
    <add key="FX678时间" value="15"/>
    <add key="FX168采集" value="1"/>
    <add key="FX168时间" value="15"/>

    <add key="贵金属快捷开" value="无"/>
    <add key="市场报价快捷开" value="无"/>
    <add key="外汇行情快捷开" value="无"/>
    <add key="全球股指快捷开" value="无"/>
    <add key="金价恒信贵快捷开" value="无"/>
    <add key="贵金属快捷关" value="无"/>
    <add key="市场报价快捷关" value="无"/>
    <add key="外汇行情快捷关" value="无"/>
    <add key="全球股指快捷关" value="无"/>
    <add key="金价恒信贵快捷关" value="无"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
